{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent & Resident</title>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/82d4e6f3ab.js" crossorigin="anonymous"></script>

    <!-- style sheets -->
    <link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <!-- bootstrap javascripts -->
    <script src="static 'https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="mainnav">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#">Rent & Resident</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-navicon" style="color:#fff; font-size:28px;"></i></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="">hello, {{user.username}}</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="logout">Logout</a></li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="register">Register</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">FAQs</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section id="intro">
        <div>
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
        </div>
    </section>

    <section id="features">
        <div class="features-div">
            <h2>BENEFITS OF TRUSTING US</h2>
            <div class="row features-row">
                <div class="col-sm-3">
                    <p><i class="fas fa-phone fa-4x"></i><br>Contact your clients directly</p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fas fa-phone fa-4x"></i><br>Contact your clients directly</p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fas fa-phone fa-4x"></i><br>Contact your clients directly</p>
                </div>
                <div class="col-sm-3">
                    <p><i class="fas fa-phone fa-4x"></i><br> your clients directly</p>
                </div>

            </div>
        </div>
    </section>

    <section id="get-in-touch">
        <div class="touch">
            <h3>GET IN TOUCH WITH US</h3>
            <form class="form ">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <input type="name" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-lg-4 form-group">
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="col-lg-4 form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="col-lg-12 form-group">
                        <textarea name="" class="form-control" placeholder="Your message" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="footer">
        <div class="container-fluid footer">
            <i class="footer-icon fab fa-twitter " aria-hidden="true"></i>
            <i class="footer-icon fab fa-facebook-f" aria-hidden="true"></i>
            <i class="footer-icon fab fa-instagram" aria-hidden="true"></i>
            <i class="footer-icon fas fa-envelope" aria-hidden="true"></i>
        </div>
    </section>
</body>

</html>